<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.army.persistence.SmallArmMapper">

    <sql id="fields">
        sm.id as small_arm_id,
        sm.name as small_arm_name,
        sm.number as small_arm_number
    </sql>

    <sql id="findAll">
        select
        <include refid="fields"/>
        from small_arms sm
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into small_arms (name, number)
        values (#{name}, #{number});
    </insert>

    <delete id="deleteById">
        delete from small_arms where id = #{id};
    </delete>

    <update id="update">
        update small_arms set
        name = #{name},
        number = #{number}
        where id = #{id};
    </update>

    <select id="findAll" resultMap="SmallArmResultMap">
        <include refid="findAll"/>
        <![CDATA[ order by id; ]]>
    </select>

    <select id="findById" resultMap="SmallArmResultMap">
        <include refid="findAll"/>
        <![CDATA[ where id = #{id}; ]]>
    </select>

    <resultMap id="SmallArmResultMap" type="com.solvd.army.domain.weapon.SmallArm" autoMapping="false">
        <id property="id" column="small_arm_id"/>
        <result property="name" column="small_arm_name"/>
        <result property="number" column="small_arm_number"/>
    </resultMap>

</mapper>